<!DOCTYPE html>
<html lang="en">
<head th:replace="common/header :: common-header"/>
<body style="padding-top: 65px">
<nav th:replace="common/navbar :: common-navbar"/>
<body>
<div class="container">
    <article>
        <h1 th:text="${headline}"></h1>
        <h5 th:text="${date}"></h5>
        <h6 th:text="${author}"></h6>
        <p th:text="${txt}"></p>
    </article>
</div>
<div class="container">
<h1>Comments</h1>
<form action="/write_comment" method="post">
    <label for="comment">Write a comment:</label>
    <textarea class="form-control"  placeholder="Comment" rows="5" id="comment" name="content"></textarea>
    <input placeholder="Author"  type="text" name="author" required>
    <button class="btn btn-primary">Send</button>
    <input type="hidden" name="article_id" th:value="${id}"/>
</form>
</div>
<div class="container">
<div th:each="i: ${comments}" class="card mt-10">
    <div class="card-body">
    <h4 class="card-title" th:text="${i.getAuthor()}"></h4>
    <p th:text="${i.getContent()}"></p>
    </div>
</div>
</div>
</body>
</html>